<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>智慧生活</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body  style='overflow:-Scroll;overflow-x:hidden' >
    <div class="main">
        <div class="title">
            <div class="first-child">
                <p>智慧{$Think.get.title}欢迎您</p>
            </div>
            <div class="last-child">
                <p>请选择以下一种方式连接设备</p>
            </div>
        </div>
        <div class="body">
            <div class="top">
                <div class="left">
                    <img src="/static/img/形状结合.png" alt="">
                </div>
                <div class="right">
                    <div class="radius">
                        <div class="input">
                            <input type="text" name="" id="" placeholder="请输入设备码连接设备">
                        </div>
                        <div class="button">
                            <input type="button" value="连接设备">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <img src="/static/img/形状结合(1).png" alt="">
                </div>
                <div class="right">
                    <div class="box"></div>
                    <div class="background">
                        <p>扫描设备码连接设备</p>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>